<app-navbar></app-navbar>
<div class="hello">    
<div class="container">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>
    <div class="form">
        <div *ngIf="!success && !error">
            <h2>Restablecer Contraseña</h2>
            <hr>
            <p>Reestablece tu contraseña de acceso.</p>
        </div>
        <div *ngIf="success">
            <h2 [ngClass]="{ok : success}">¡Contraseña Reestablecida!</h2>
            <hr>    
            <p>Se ha reestablecido tu contraseña.</p>
        </div>
        <div *ngIf="error">
            <h2 [ngClass]="{bad : error}">¡Algo anda mal!</h2>
            <hr>        
            <p>Intenta reestablecer tu contraseña nuevamente.</p>
        </div>      
        <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
            <div>
                <input class="form-control form-control-lg"
                type="password" 
                placeholder="Ingresa una contraseña" 
                required 
                validateEqual="confirmPassword" 
                reverse="true" 
                [(ngModel)]="mPassword" 
                name="password" 
                #password="ngModel">
                <div *ngIf="password.invalid && password.touched || password.pristine && password.touched"
                class="alert alert-danger">
                La contraseña es requerida
            </div>
        </div>
      <div>
          <input class="form-control form-control-lg"
          type="password" 
          placeholder="Confirma tu contraseña" 
          required validateEqual="password" 
          reverse="false" 
          [(ngModel)]="mConfirmPassword" 
          name="confirmPassword" 
          #confirmPassword="ngModel">
          <div [hidden]="confirmPassword.valid || (confirmPassword.pristine)" class="alert alert-danger">
          La contraseña debe coincidir
          </div>
      </div>   
    <button class="btn btn-lg btn-block"
    type="submit" 
    [ngClass]="{enable: resetPasswordForm.form.valid, disable: !resetPasswordForm.form.valid}" 
    [disabled]="!resetPasswordForm.form.valid">
    Reestablecer Contraseña
  </button>
    <hr/>
    <a [routerLink]="['/entrar']">Iniciar sesion</a>
  </form>
</div>
</div>
</div>