<app-navbar [loggedIn]=loggedIn></app-navbar>
<div id="hello">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="intro-text col-lg-10">
                <h1>Plomeros</h1>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</div>
<div id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>¿Buscas los mejores plomeros cali disponibles hoy las 24 horas?</h1>
                    <p class="text-justify">
                        <a [routerLink]="['']">OpusClick</a> te ofrece los mejores y más confiables 
                        plomeros Cali disponibles las 24 horas, capacitados como destapa cañerias, 
                        en destape y sondeo, impermeabilización, y servicio de plomería en cali en general, 
                        donde puedes elegir, cotizar en línea y contratar el servicio de plomeros de tu preferencia, 
                        con la tranquilidad de que tu dinero estará protegido por <a [routerLink]="['']">OpusClick</a> 
                        y que las condiciones de trabajo quedarán establecidas bajo un contrato virtual ante cualquier 
                        incumplimiento. Lo más importante es que aquí encontrarás de manera fácil y rápida Plomeros en 
                        cali expertos en cualquier tipo de reparación de humedades, destapa cañerías sin romper, sifones, 
                        limpiezas con sonda eléctrica y a presión y demás emergencias. 
                        Conoce más acerca de <a [routerLink]="['']">OpusClick</a>.
                    </p>
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                    <button type="button" [routerLink]="['../expertos']" [queryParams]="{profession: '9'}" class="btn btn-outline-dark">Encúentralos Aquí</button>
                            </div>
                        </div>
                    </div>
                <h1>Servicio de plomería y destapa cañerías sin romper en Cali, Valle del Cauca (Plomeros Cali Sur, Plomeros Cali Norte)</h1>
                    <p class="text-justify">
                            En <a [routerLink]="['']">OpusClick</a> siempre encontrarás un servicio de plomeria o plomeros en cali, 
                            a domicilio, las 24 horas, que te ayudarán de manera urgente en el momento que lo necesites, dispuestos 
                            a brindarte un servicio profesional y calificado, con el conocimiento y la experiencia para realizar  
                            cualquier tipo de trabajo de plomería, como detectando fugas, filtraciones y donde destapan cañerías 
                            sin romper. Nuestros expertos están distribuidos en las diferentes zonas de la ciudad, Plomeros cali sur 
                            y Plomeros cali norte.                             
                    </p>
            </div>
            <div class="col-lg-12">
                    <h2>¿Qué hacer en caso de incumplimiento, inconformidad o garantía frente a un servicio de Plomeros Cali o Destapa cañerías en Cali?</h2>
                    <p class="text-justify">
                        Nuestro contrato virtual es la figura que nos permite hacer cumplir las condiciones de negocio pactadas entre las partes. 
                        En <a [routerLink]="['']">OpusClick</a> no haces efectivo un pago hasta que no se cumplan las condiciones del contrato virtual. 
                        Adicionalmente, te ofrecemos hasta 3 meses de garantía por cualquier servicio de plomeria, de plomeros Cali o de emergencia 
                        plomeros Cali, contratado a través de la plataforma. Por ende, ante un incumplimiento, inconformidad o garantía debes reportar 
                        dicha novedad a través de nuestra plataforma, la cual estudiamos y gestionamos con base en el contrato virtual. 
                        <a routerLink="https://s3.amazonaws.com/opusclick.com/Terminos+OpusClick.pdf" appExternalUrl>términos y condiciones</a>.
                    </p>
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <button type="button" [routerLink]="['../expertos']" [queryParams]="{profession: '9'}" class="btn btn-outline-dark">Elige Tu Plomero</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>