<app-navbar [loggedIn]=loggedIn></app-navbar>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>
<div class="space"></div>
  <div *ngIf="sendContractProvider==false" class="container">
    <div class="row">
      <div class="col-lg-12">
          <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="percentageCompletion + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          <div>
            <p class="p-style" *ngIf="actualPage===1">¡Advertencia!</p>
            <p class="p-style" *ngIf="actualPage===2">Elige un nombre que describa este trabajo</p>
            <p class="p-style" *ngIf="actualPage===3">Elige los items que deseas contratar y verifica las aclaraciones o imágenes de referencia</p>
            <p class="p-style" *ngIf="actualPage===4">¿Hace falta algo para proceder a contratar?</p>
            <p class="p-style" *ngIf="actualPage===5 && mFinalize=='yes'">Resumen</p>
            <p class="p-style" *ngIf="actualPage===5 && mFinalize=='no'">Imágenes de referencia</p>
            <p class="p-style" *ngIf="actualPage===6">Aclaraciones o comentarios</p>
            <p class="p-style" *ngIf="actualPage===7">Resumen</p>
          </div>
          <hr>
      </div>
    </div>
    <div [hidden]="actualPage!==1">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 justify">
                  <p>Asegúrate de que todos los detalles e información concretada con el experto acerca del trabajo, se encuentre depositada en este contrato;
                     en caso de reclamación por garantía nuestro equipo se regirá de manera estricta en la información almacenada en este documento. 
                     Si contratas, estarás aceptando todas las condiciones de trabajo presentes en este contrato
                  <p>
                </div>
                <div class="col-lg-1"></div>
                <hr class="col-lg-12">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                  <div class="form-check">
                    <input 
                      type="checkbox" 
                      class="form-check-input" 
                      id="exampleCheck1"
                      [(ngModel)]="accepted" 
                      name="check" 
                      #check="ngModel">
                    <label class="form-check-label" for="exampleCheck1">He leído y entiendo</label>
                  </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div class="my-4"></div>
      <div class="text-center">
        <button 
          (click)='back()' 
          class="btn btn btn-outline-secondary">
            Atrás
        </button>
        <button 
          [disabled]="!accepted"
          (click)='next()'
          class="btn btn-outline-secondary">
            Siguiente
        </button>
      </div>
    </div>
    <div [hidden]="actualPage!==2">
        <div class="container">
            <div class="row">
              <div class="col-lg-3 centered"></div>
              <div class="col-lg-6 centered">
                <div class="form-group">
                    <input class="form-control"
                      id="nameContract"
                      type="text" 
                      placeholder="Elige un nombre corto que describa este trabajo" 
                      required 
                      minlength="4" 
                      pattern="[a-zA-Zóáéíú ]*"
                      [(ngModel)]="mName" 
                      name="name" 
                      #name="ngModel"
                      [ngClass]="{'is-valid': name.valid && name.touched, 'is-invalid': name.invalid && name.touched}">
                    <small *ngIf="name.invalid && name.touched" class="form-text text-muted-error">El nombre ingresado no es válido</small>
                 </div>
              </div>
              <div class="col-lg-3 centered"></div>
            </div>
        </div>
        <div class="my-4"></div>
        <div class="text-center">
          <button 
            (click)='back()' 
            class="btn btn btn-outline-secondary">
              Atrás
          </button>
          <button 
            [disabled]="mName==null || this.mName.length < 4"
            (click)='next()'
            class="btn btn-outline-secondary">
              Siguiente
          </button>
        </div>
    </div>
    <div [hidden]="actualPage!==3">
        <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col"> </th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Valor</th>
                      <th scope="col">Duración</th>
                      <th scope="col">Garantía</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of providerQuote.items; let i = index">
                      <td>
                        <div class="form-check">
                          <input type="checkbox" 
                          class="form-check-input" 
                          [(ngModel)]="item.selected" 
                          name="select{{i}}"
                          #select="ngModel">
                        </div>
                      </td>
                      <td>{{item.name}} <button type="button" (click)="detailsItem(item)" class="btn btn-outline-dark btn-sm">Detalles</button></td>
                      <td>$ {{item.value | number:0}}</td>
                      <td>{{item.durationValue}} {{item.durationTime}}</td>
                      <td>{{item.warrantyValue}} {{item.warrantyTime}}</td>
                    </tr>
                  </tbody>
                </table>
              </div> 
            </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <ngb-accordion #acc="ngbAccordion">
                      <ngb-panel id="toggle-1" title="Aclaraciones y anotaciones">
                        <ng-template ngbPanelContent>
                            <div class="col-lg-12">
                                <textarea 
                                  class="form-control" 
                                  id="modifications" 
                                  rows="4"
                                  value={{providerQuote.clarifications}}
                                  disabled>
                                </textarea>
                            </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel id="toggle-2" title="Imágenes de referencia y modificaciones al diseño">
                          <ng-template ngbPanelContent>
                            <div *ngFor='let item of providerQuote.items'>
                              <div *ngIf="item.imageQuote!=null" class="row">
                                <div class="col-lg-2">
                                    <img 
                                    data-src="holder.js/200x200" 
                                    class="rounded mx-auto d-block" 
                                    alt="100x100" 
                                    src="{{item.imageQuote}}" 
                                    data-holder-rendered="true" 
                                    style="width: 150px; height: 150px; margin:5px;">
                                </div>
                                <div class="col-lg-10">
                                    <label for="modifications">Modificaciones al diseño</label>
                                    <textarea 
                                      class="form-control" 
                                      id="modifications" 
                                      rows="4"
                                      value="{{item.commentQuote}}"
                                      disabled>
                                    </textarea>
                                </div>
                            </div>  
                          </div>        
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                    <hr/>
              </div>
            </div>
            <div class="my-4"></div>
            <div class="text-center">
                <small *ngIf="canContnue==false">Debes seleccionar un item para poder continuar</small>
            </div>
            <div class="text-center">
              <button 
                (click)='back()' 
                class="btn btn btn-outline-secondary">
                  Atrás
              </button>
              <button 
                (click)='canContinue()'
                class="btn btn-outline-secondary">
                  Siguiente
              </button>
            </div>
    </div>
    <div [hidden]="actualPage!==4">
        <div class="text-center">
            <button type="button" class="btn btn-outline-success"
            [ngClass]="{'btn-outline-yes-selected': mFinalize=='no'}"
            (click)="finalize('no');generateContract('CONTRACT_MODIFIED_BY_USER','CREATED')">SI</button>
            <button type="button" class="btn btn-outline-danger"
            [ngClass]="{'btn-outline-no-selected': mFinalize=='yes'}"
            (click)="finalize('yes');generateContract('PENDING_BY_PAYMENT','CREATED')">NO</button>
          </div>
          <hr class="col-lg-12">
          <div class="my-4"></div>
      <div class="text-center">
        <button 
          (click)='back()' 
          class="btn btn btn-outline-secondary">
            Atrás
        </button>
        <button 
          [disabled]="mFinalize==null"
          (click)='next()'
          class="btn btn-outline-secondary">
            Siguiente
        </button>
      </div>
    </div>
    <div [hidden]="actualPage!==5 || (actualPage===5 && mFinalize=='no') || mFinalize==null">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Garantía</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let milestone of contract.milestones'>
                    <td>{{milestone.item.name}}<button type="button" (click)="detailsItem(milestone.item)" class="btn btn-outline-dark btn-sm">Detalles</button></td>
                    <td>$ {{milestone.item.value | number:0}}</td>
                    <td>{{milestone.item.durationValue}} {{milestone.item.durationTime}}</td>
                    <td>{{milestone.item.warrantyValue}} {{milestone.item.warrantyTime}}</td>
                  </tr>
                </tbody>
              </table>
            </div> 
          </div>
        </div>
        <div class="container">
            <div class="row">
              <hr class="col-lg-12">
              <div class="col-lg-12">
                  <p><strong>Subtotal:</strong>   $ {{contract.subtotal | number:0}}</p>
              </div>
              <div class="col-lg-12">
                  <p><strong>Costo administración:</strong>  $ {{contract.administrationFee | number:0}}</p>
              </div>
              <div class="col-lg-12">
                  <p><strong>Valor total:</strong>  $ {{contract.totalValue | number:0}}</p>
              </div>
            </div>
        </div>
        <hr class="col-lg-12">
        <div class="my-4"></div>
        <div class="text-center">
          <button 
            (click)='back()' 
            class="btn btn btn-outline-secondary">
              Atrás
          </button>
          <button 
            (click)='makePayment()' 
            class="btn btn-outline-success">
              Pasar al pago
        </button>
        </div>
      </div>
    </div>
    <div [hidden]="actualPage!==5 || (actualPage===5 && mFinalize=='yes') || mFinalize==null">
        <div class="container">
            <div *ngFor="let milestone of contract.milestones; let i = index">
              <div class="col-lg-6">
                <h5>{{milestone.item.name}}</h5>
              </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="profile-image rounded mx-auto d-block" [style.background-image]="makeTrustedImage(milestone.item.imageContract)"></div>
                    <button class="button-style mx-auto d-block">
                        <span class="span-style">
                          <div class="display-margin">
                            <img src="../../assets/technology.svg" width="12" height="12">
                          </div>
                        <span>Subir Imagen</span>
                        </span>
                          <input type="file" class="css-1u2oed9 eehmg7h4" (change)="onFileChange($event,milestone)" #fileInput>
                    </button>  
                </div>
                <div class="col-lg-10">
                    <label for="modifications">Modificaciones al diseño</label>
                    <textarea 
                      class="form-control" 
                      id="modifications" 
                      rows="4"
                      required 
                      [(ngModel)]="milestone.item.commentContract" 
                      name="comment{{i}}"
                      #comment="ngModel">
                    </textarea>
                    <small class="form-text text-muted">Se conciso en la descripción, esto ayuda a nuestros expertos a estar preparados el día de la visita.</small>
                </div>
            </div>
            <hr class="col-lg-12">
            </div>
        <div class="my-4"></div>
        <div class="text-center">
          <button 
            (click)='back()' 
            class="btn btn btn-outline-secondary">
              Atrás
          </button>
          <button 
            (click)='next()'
            class="btn btn-outline-secondary">
              Siguiente
          </button>
        </div>
      </div>
    </div>
    <div [hidden]="actualPage!==6">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <textarea 
                class="form-control" 
                id="modifications" 
                rows="8"
                required 
                [(ngModel)]="contract.clarifications" 
                name="clarifications"
                #clarifications="ngModel">
              </textarea>
              <small class="form-text text-muted">Se conciso en la descripción, esto ayuda a nuestros expertos a estar preparados el día de la visita.</small>
            </div>
          </div>
          <hr class="col-lg-12">
        <div class="my-4"></div>
        <div class="text-center">
          <button 
            (click)='back()' 
            class="btn btn btn-outline-secondary">
              Atrás
          </button>
          <button 
            (click)='next()'
            class="btn btn-outline-secondary">
              Siguiente
          </button>
        </div>
      </div>
    </div>
    <div [hidden]="actualPage!==7">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Duración</th>
                        <th scope="col">Garantía</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let milestone of contract.milestones'>
                        <td>{{milestone.item.name}} <button type="button" (click)="detailsItem(milestone.item)" class="btn btn-outline-dark btn-sm">Detalles</button></td>
                        <td>$ {{milestone.item.value | number:0}}</td>
                        <td>{{milestone.item.durationValue}} {{milestone.item.durationTime}}</td>
                        <td>{{milestone.item.warrantyValue}} {{milestone.item.warrantyTime}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div> 
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel id="toggle-1" title="Aclaraciones y anotaciones">
                          <ng-template ngbPanelContent>
                              <div class="col-lg-12">
                                  <textarea 
                                    class="form-control" 
                                    id="modifications" 
                                    rows="4"
                                    value={{contract.clarifications}}
                                    disabled>
                                  </textarea>
                              </div>
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="toggle-2" title="Imágenes de referencia y modificaciones al diseño">
                            <ng-template ngbPanelContent>
                              <div *ngFor='let milestone of contract.milestones'>
                                <div *ngIf="milestone.item.imageContract!=null" class="row">
                                  <div class="col-lg-2">
                                      <img 
                                      data-src="holder.js/200x200" 
                                      class="rounded mx-auto d-block" 
                                      alt="100x100" 
                                      src="{{milestone.item.imageContract}}" 
                                      data-holder-rendered="true" 
                                      style="width: 150px; height: 150px; margin:5px;">
                                  </div>
                                  <div class="col-lg-10">
                                      <label for="modifications">Modificaciones al diseño</label>
                                      <textarea 
                                        class="form-control" 
                                        id="modifications" 
                                        rows="4"
                                        value="{{milestone.item.commentContract}}"
                                        disabled>
                                      </textarea>
                                  </div>
                              </div>  
                            </div>        
                          </ng-template>
                        </ngb-panel>
                      </ngb-accordion>
                      <hr/>
                </div>
              </div>
            <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                      <p><strong>Subtotal:</strong>   $ {{contract.subtotal | number:0}}</p>
                  </div>
                  <div class="col-lg-12">
                      <p><strong>Costo administración:</strong>  $ {{contract.administrationFee | number:0}}</p>
                  </div>
                  <div class="col-lg-12">
                      <p><strong>Valor total:</strong>  $ {{contract.totalValue | number:0}}</p>
                  </div>
                </div>
            </div>
            <div class="my-4"></div>
            <div class="text-center">
              <button 
                (click)='back()' 
                class="btn btn btn-outline-secondary">
                  Atrás
              </button>
              <button 
                [disabled]="false"
                [hidden]="false"
                (click)='sendContract()' 
                class="btn btn-outline-success">
                  Enviar Contrato
              </button>
            </div>
          </div>
    </div>
  </div>
  <div *ngIf="sendContractProvider==true" class="container">
      <div class="space">
          <div class="container">
              <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10 justify">
                    <p>Se ha enviado el contrato modificado al experto, debes esperar a que él lo apruebe y puedas pasar al pago.<p>
                  </div>
                  <div class="col-lg-1"></div>
              </div>
          </div>
      </div>
    </div>
