/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  
    .space {
      padding-top: 23%;
    }  
    p.summary{
      font-size:0.83rem;
    } 
  }
  
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) { 
    .space {
      padding-top: 23%;
    }  
    p.summary{
      font-size:1rem;
    } 
  }
  
  /*Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) { 
    .space {
      padding-top: 14%;
    }  
    p.summary{
      font-size:1rem;
    } 
   }
  
  /*Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .space {
      padding-top: 7%; 
    }  
    p.summary{
      font-size:1rem;
    } 
   }
  
  /*Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) { 
    .space {
      padding-top: 7%;
    }   
    p.summary{
      font-size:1rem;
    } 
   }

   td{
    white-space: nowrap;
   }

   .green-text{
    color:#28a745;
  }

  p{
    margin-bottom: 0px;
  }

  hr {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  
  .info{
    color:#99979c;
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .btn-sm {
    padding: .20rem .5rem;
    font-size: .675rem;
    line-height: 1.5;
    border-radius: .2rem;
  }
  
  strong{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
  }

  .vcenter {
    display: flex;
  }