/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  
    .space {
      padding-top: 21%;
    }  
  }
  
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) { 
    .space {
      padding-top: 21%;
    }  
  }
  
  /*Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) { 
    .space {
      padding-top: 14%;
    }  
   }
  
  /*Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .space {
      padding-top: 7%; 
    }  
   }
  
  /*Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) { 
    .space {
      padding-top: 7%;
    }  
   }

.progress-bar{
    background-color:#008d98;
}

.p-style{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text-muted-error{
    color: #FF3741!important;
}

.mydp {
    font-family:unset!important;
}

.summary strong{
    font-size: 20px;
}

.summary span{
    display: block;
    font-size: 16px;
    text-align: left;
    padding-left: 5px;
    color:rgb(107, 107, 107);
}

.justify{
  text-align: justify!important;
  font-size: 18px!important;
}