<app-navbar [loggedIn]=loggedIn></app-navbar>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>
<div class="space">
<div *ngIf="submited==false" class="container">
  <div class="row">
  <div class="col-lg-3">
    <div class="mx-3"></div>
  </div>
  <div class="col-lg-6">
      <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="percentageCompletion + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      <div >
        <p class="p-style" *ngIf="actualPage===1">¿Cúando quieres que el experto te visite?</p>
        <p class="p-style" *ngIf="actualPage===2">Elige una fecha alternativa en caso de que el experto no tenga disponibilidad</p>
        <p class="p-style" *ngIf="actualPage===3">¿Dónde quieres que el experto te visite?</p>
        <p class="p-style" *ngIf="actualPage===4">¿Qué necesitas?</p>
        <p class="p-style" *ngIf="actualPage===5">Resumen</p>
      </div>
      <hr>
      <form #requestVisitForm="ngForm">
          <div [hidden]="actualPage!==1" class="form-group">
          <label for="inputDate">Fecha de visita</label>
          <my-date-picker
          id="inputDate"
          placeholder="Selecciona una fecha"
          [options]="myDatePickerOptions"
          required 
          [(ngModel)]="mDate" 
          name="visitDate"
          #visitDate="ngModel">
         </my-date-picker>
         <small *ngIf="visitDate.untouched || visitDate.valid && visitDate.touched" id="dateHelp" class="form-text text-muted">Haz click sobre el icóno del calendario para seleccionar una fecha.</small>
         <small *ngIf="visitDate.invalid && visitDate.touched" class="form-text text-muted-error">¡Debes seleccionar una fecha válida! Haz click sobre el icóno del calendario</small>
        </div>
        <div [hidden]="actualPage!==1" class="form-group">
            <label for="schedule">Horario de visita </label>
            <div id="schedule" class="form-row">
                <div class="form-group col-md-6">
                  <label for="startTime">De:</label>
                  <select
                    id="startTime"
                    name="startTime" 
                    class="form-control"
                    required 
                    [(ngModel)]="mStartTime" 
                    #startTime="ngModel"
                    (ngModelChange)="selectLimit($event)"
                    [ngClass]="{'is-valid': startTime.valid && startTime.touched, 'is-invalid': startTime.invalid && startTime.touched}">
                    <option [ngValue]="null" disabled  selected>Hora Inicial</option>
                    <option *ngFor="let schedule of schedules" 
                    [ngValue]="schedule"> {{schedule.getDescription()}} </option>                
                  </select>
                  <small *ngIf="startTime.invalid && startTime.touched" class="form-text text-muted-error">¡Debes seleccionar alguna de las opciones!</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="endTime">Hasta:</label>
                    <select 
                      id="endTime"
                      name="endTime" 
                      class="form-control"
                      required 
                      [(ngModel)]="mEndTime" 
                      #endTime="ngModel"
                      [ngClass]="{'is-valid': endTime.valid && endTime.touched, 'is-invalid': endTime.invalid && endTime.touched}">
                      <option [ngValue]="null" disabled  selected>Hora Final</option>
                      <option *ngFor="let schedule of schedules" 
                      [ngValue]="schedule"
                      [disabled]="mSelectedStartLimit > ((schedule.getNumberHour()*60)+schedule.getNumberMinute())"> {{schedule.getDescription()}} </option>                
                    </select>
                    <small *ngIf="endTime.invalid && endTime.touched" class="form-text text-muted-error">¡Debes seleccionar alguna de las opciones!</small>
                </div>
            </div>
        </div>
        <div [hidden]="actualPage!==2" class="form-group">
          <label for="inputDate">Fecha alternativa de visita</label>
          <my-date-picker
          (click)="updateAlternativeDate()"
          id="inputDate"
          placeholder="Selecciona una fecha alternativa"
          [options]="altMyDatePickerOptions"
          required 
          [(ngModel)]="mAlternativeDate" 
          name="visitAlternativeDate"
          #visitAlternativeDate="ngModel">
         </my-date-picker>
         <small *ngIf="visitAlternativeDate.untouched || visitAlternativeDate.valid && visitAlternativeDate.touched" id="dateHelp" class="form-text text-muted">Haz click sobre el icóno del calendario para seleccionar una fecha.</small>
         <small *ngIf="visitAlternativeDate.invalid && visitAlternativeDate.touched" class="form-text text-muted-error">¡Debes seleccionar una fecha válida! Haz click sobre el icóno del calendario</small>
        </div>
        <div [hidden]="actualPage!==2" class="form-group">
            <label for="alternativeSchedule">Horario de visita </label>
            <div id="alternativeSchedule" class="form-row">
                <div class="form-group col-md-6">
                  <label for="alternativeStartTime">De:</label>
                  <select 
                    id="alternativeStartTime"
                    name="alternativeStartTime" 
                    class="form-control"
                    required 
                    [(ngModel)]="mAlternativeStartTime" 
                    #alternativeStartTime="ngModel"
                    (ngModelChange)="selectAlternativeLimit($event)"
                    [ngClass]="{'is-valid': alternativeStartTime.valid && alternativeStartTime.touched, 'is-invalid': alternativeStartTime.invalid && alternativeStartTime.touched}">
                    <option [ngValue]="null" disabled  selected>Hora Inicial</option>
                    <option *ngFor="let schedule of schedules" [ngValue]="schedule"> {{schedule.getDescription()}} </option>                
                  </select>
                  <small *ngIf="alternativeStartTime.invalid && alternativeStartTime.touched" class="form-text text-muted-error">¡Debes seleccionar alguna de las opciones!</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="alternativeEndTime">Hasta:</label>
                    <select 
                      id="alternativeEndTime"
                      name="alternativeEndTime" 
                      class="form-control"
                      required 
                      [(ngModel)]="mAlternativeEndTime" 
                      #alternativeEndTime="ngModel"
                      [ngClass]="{'is-valid': alternativeEndTime.valid && alternativeEndTime.touched, 'is-invalid': alternativeEndTime.invalid && alternativeEndTime.touched}">
                      <option [ngValue]="null" disabled  selected>Hora Final</option>
                      <option *ngFor="let schedule of schedules" 
                      [ngValue]="schedule"
                      [disabled]="mAlternativeSelectedStartLimit > ((schedule.getNumberHour()*60)+schedule.getNumberMinute())">
                       {{schedule.getDescription()}} </option>                
                    </select>
                    <small *ngIf="alternativeEndTime.invalid && alternativeEndTime.touched" class="form-text text-muted-error">¡Debes seleccionar alguna de las opciones!</small>
                </div>
            </div>
        </div>
          <div [hidden]="actualPage!==3" class="form-group">
              <label for="address">Dirección</label>
              <input 
                type="text" 
                class="form-control" 
                id="address" 
                aria-describedby="emailHelp" 
                placeholder="Ingresa la dirección donde se requiere el servicio"
                required 
                [(ngModel)]="visitScheduleDto.address" 
                name="address"
                #address="ngModel"
                [ngClass]="{'is-valid': address.valid && address.touched, 'is-invalid': address.invalid && address.touched}">
              <small *ngIf="address.untouched || address.valid && address.touched" class="form-text text-muted">La dirección es fundamental, asegurate que sea la correcta.</small>
              <small *ngIf="address.invalid && address.touched" class="form-text text-muted-error">Debes ingresar una dirección válida</small>
          </div>
          <div [hidden]="actualPage!==3" class="form-group">
              <label for="exampleInputEmail1">Barrio</label>
              <input 
                type="text" 
                class="form-control" 
                id="exampleInputEmail1" 
                aria-describedby="emailHelp" 
                placeholder="Ingresa el nombre del barrio"
                required 
                [(ngModel)]="visitScheduleDto.neighborhood" 
                name="neighborhood"
                #neighborhood="ngModel"
                [ngClass]="{'is-valid': neighborhood.valid && neighborhood.touched, 'is-invalid': neighborhood.invalid && neighborhood.touched}">
              <small *ngIf="neighborhood.untouched || neighborhood.valid && neighborhood.touched" class="form-text text-muted">El barrio nos ayuda a ubicar mejor a nuestros expertos.</small>
              <small *ngIf="neighborhood.invalid && neighborhood.touched" class="form-text text-muted-error">Debes ingresar un barrio</small>
          </div>
          <div [hidden]="actualPage!==4" class="form-group">
              <label for="description">Descripción del trabajo</label>
              <textarea 
                class="form-control" 
                id="description" 
                rows="3"
                required 
                [(ngModel)]="visitScheduleDto.description" 
                name="workDescription"
                #workDescription="ngModel"
                [ngClass]="{'is-valid': workDescription.valid && workDescription.touched, 'is-invalid': workDescription.invalid && workDescription.touched}">
              </textarea>
              <small *ngIf="workDescription.untouched || workDescription.valid && workDescription.touched" class="form-text text-muted">Se conciso en la descripción, esto ayuda a nuestros expertos a estar preparados el día de la visita.</small>
              <small *ngIf="workDescription.invalid && workDescription.touched" class="form-text text-muted-error">Debes describir el trabajo a realizar</small>
          </div>
            <div class="summary" *ngIf="actualPage===totalPage">
                <strong>Fecha de visita</strong>
                <span>{{mDate.formatted}}</span>
                <strong>Hora de visita</strong>
                <span>{{mStartTime.description}}</span>
                <strong>Fecha alternativa de visita</strong>
                <span>{{mAlternativeDate.formatted}}</span>
                <strong>Hora de visita</strong>
                <span>{{mAlternativeStartTime.description}}</span>
                <strong>Dirección</strong>
                <span>{{visitScheduleDto.address}}</span>
                <strong>Barrio</strong>
                <span>{{visitScheduleDto.neighborhood}}</span>
                <strong>Descripción</strong>
                <span>{{visitScheduleDto.description}}</span>
                <hr>
            </div>
            <div class="my-4"></div>
            <div class="text-center">
              <button 
                (click)='back()' 
                class="btn btn btn-outline-secondary">
                Atrás
              </button>
              <button 
                [disabled]="((visitDate.invalid || startTime.invalid || endTime.invalid) && actualPage==1)
                || ((visitAlternativeDate.invalid || alternativeStartTime.invalid || alternativeEndTime.invalid) && actualPage==2)
                || ((address.invalid || neighborhood.invalid) && actualPage==3)
                || ((workDescription.invalid) && actualPage==4)"
                [hidden]="actualPage===totalPage"
                (click)='next()'
                class="btn btn-outline-secondary">
                Siguiente
              </button>
              <button 
                [disabled]="requestVisitForm.invalid && percentageCompletion!=100"
                [hidden]="actualPage!==totalPage"
                (click)='submit()' 
                class="btn btn-outline-success">
                Enviar Solicitud
              </button>
            </div>
      </form>
  </div>
  <div class="col-lg-3">
      <div class="mx-3"></div>
  </div>
</div>
</div>
<div *ngIf="submited==true" class="container">
    <div class="space">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 justify">
                  <p>Tu solicitud se ha enviado correctamente, debes esperar que sea aceptada por el experto.
                      En caso contrario, el experto revisará su disponibilidad y te enviará las fechas en que puede visitarte
                      para que tú elijas la que mejor se ajuste a tu tiempo. Todo esto, en un plazo máximo de 2 días.
                  <p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
</div>