<app-navbar [loggedIn]=loggedIn></app-navbar>
<div id="hello">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="intro-text col-lg-10">
                <h1>Cerrajeros</h1>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</div>
<div id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Encuentra la mejor cerrajeria en Cali</h1>
                        <p class="text-justify">
                            <a [routerLink]="['']">OpusClick</a> te ofrece los mejores y más confiables cerrajerias en Cali,
                            permitiendote elegir, cotizar en linea y contratar al cerrajero de tu preferencia,
                            con la tranquilidad de que tu dinero estará protegido por <a [routerLink]="['']">OpusClick</a> y que las condiciones de trabajo quedarán 
                            establecidas bajo un contrato virtual ante cualquier incumplimiento. <a [routerLink]="['']">Mas Info</a>
                        </p>
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                        <button type="button" [routerLink]="['../expertos']" [queryParams]="{profession: '11'}" class="btn btn-outline-dark">Encúentralos Aquí</button>
                                </div>
                            </div>
                        </div>
                    <h2>¿Que hacer en caso de incumplimiento, inconformidad o garantía?</h2>
                        <p class="text-justify">
                            Nuestro contrato virtual es la figura que nos permite hacer cumplir las condiciones de negocio 
                            pactadas entre las partes. En <a [routerLink]="['']">OpusClick</a> no haces efectivo un pago 
                            hasta que no se cumplan las condiciones del contrato virtual. Adicionalmente, te ofrecemos hasta
                            3 meses de garantía por cualquier servicio de carpinteria o ebanisteria contratado a través de la 
                            plataforma. Por ende, lo que debes hacer ante un incumplimiento, inconformidad o garantía debes reportar 
                            dicha novedad a través de nuestra plataforma, la cual estudiamos y gestionamos con base en el contrato virtual. <a routerLink="https://s3.amazonaws.com/opusclick.com/Terminos+OpusClick.pdf" appExternalUrl>Términos y condiciones</a>
                        </p>
                </div>
                <div class="col-lg-12">
                    <h1>¿Buscas cerrajeros en cali 24 horas?</h1>
                    <p class="text-justify">
                            Encuentra los expertos mejor calificados en cerrajeria, cerrajeros, rejas para antejardín, 
                            puertas metálicas, cerrajeros carros, estructuras metálicas, cerraduras, apertura de carros, 
                            cerrajeria automotriz, en Cali, a domicilio, las 24 horas, que te ayudarán de manera urgente 
                            en el momento que lo necesites, dispuestos a brindarte un servicio profesional, distribuidos 
                            en las diferentes zonas de la ciudad, cerrajeros cali sur y cali norte, donde podrás agendar 
                            una visita, solicitar una cotización y contratar su trabajo con la seguridad de que recibirás 
                            un servicio de alta calidad.
                    </p>

                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" [routerLink]="['../expertos']" [queryParams]="{profession: '11'}" class="btn btn-outline-dark">Elige Tu Cerrajero</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>