<div class="space"></div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>
    <div class="container">
        <app-alert [dismissible]="true" [type]="notificationType" [message]="notificationMessage" [(staticAlertClosed)]="hideNotification"></app-alert>
      <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Pin</th>
                <th scope="col">Descripción</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let visit of pendingVisits'>
                <td *ngIf="visit.alternativeDate-now.getTime() > 0">{{visit.code}}</td>
                <td *ngIf="visit.alternativeDate-now.getTime() > 0">{{visit.securityPin}}</td>
                <td *ngIf="visit.alternativeDate-now.getTime() > 0">{{visit.description}}</td>
                <td *ngIf="visit.alternativeDate-now.getTime() > 0" class="d-options">
                  <button type="button"
                  class="btn btn-outline-dark" (click)="detailsVisit(visit)">Detalles</button>
                  <div class="my-1"></div>
                  <div class="mx-1"></div>
                  <button type="button"
                  class="btn btn-outline-info"
                  *ngIf='visit.state=="PENDING_BY_PROVIDER_ACCEPT"' 
                  (click)="deferVisit(visit)">Postergar</button>
                  <div class="my-1"></div>
                  <div class="mx-1"></div>
                  <button type="button"
                  *ngIf='visit.state=="PENDING_BY_PROVIDER_ACCEPT"' 
                  class="btn btn-outline-danger" (click)="cancelVisit(visit)">Cancelar</button>
                  <div 
                  *ngIf='visit.state=="PENDING_BY_USER_ACCEPT" || visit.state=="POSTPONE_BY_PROVIDER"' 
                  class="btn-group dropleft">
                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Responder
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" type="button" (click)="acceptVisit(visit)">Aceptar solicitud</button>
                        <button class="dropdown-item" type="button" (click)="deferVisit(visit)">Proponer nueva fecha</button>
                        <button class="dropdown-item" type="button" (click)="cancelVisit(visit)">No quiero la visita</button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
