<div class="space"></div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>
    <div class="container">
        <app-alert [dismissible]="true" [type]="notificationType" [message]="notificationMessage" [(staticAlertClosed)]="hideNotification"></app-alert>
      <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Pin</th>
                <th scope="col">Descripción</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let visit of unfulfilledVisits'>
                <td *ngIf="now.getTime()-visit.alternativeDate > 0 && 10080 > (now.getTime()-visit.alternativeDate)/60000">{{visit.code}}</td>
                <td *ngIf="now.getTime()-visit.alternativeDate > 0 && 10080 > (now.getTime()-visit.alternativeDate)/60000">{{visit.securityPin}}</td>
                <td *ngIf="now.getTime()-visit.alternativeDate > 0 && 10080 > (now.getTime()-visit.alternativeDate)/60000">{{visit.description}}</td>
                <td *ngIf="now.getTime()-visit.alternativeDate > 0 && 10080 > (now.getTime()-visit.alternativeDate)/60000" class="d-options">
                  <button type="button" class="btn btn-outline-dark" (click)="reportBreach(visit)">Reportar Incumplimiento</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>