<div class="container">
  <div class="row">
  <div class="col-lg-2">
    <div class="mx-2"></div>
  </div>
  <div class="col-lg-8">
    <div class="progress">
      <div class="progress-bar" role="progressbar" [style.width]="percentageCompletion + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
      <div>
        <p>{{currentQuestion.description}}</p>
      </div>
      <hr> 
      <div>
          <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div *ngFor="let answer of answers$ | async">

                <div [ngSwitch]="answer.controlType">

                  <div *ngSwitchCase="'radio'">
                    <div class="radios checkbox-group">
                      <div [hidden]="!(currentQuestion.id===answer.parent)" class="col-lg-12">
                        <input [formControlName]="answer.controlName" [id]="answer.id" type="radio" [value]="answer.label" (click)="radioButtonClick(answer.child)">
                        <label [for]="answer.id" class="button-label">
                          {{answer.label}}                  
                        </label>
                      </div>
                    </div>
                  </div>
                  <div *ngSwitchCase="'radio_texbox'">
                    <div class="radios checkbox-group">
                      <div [hidden]="!(currentQuestion.id===answer.parent)" class="col-lg-12">
                        <input [formControlName]="answer.controlName" [id]="answer.id" type="radio" (click)="showTextbox ? showTextbox = false : showTextbox = true;">
                        <label [for]="answer.id" class="button-label">
                          {{answer.label}}                  
                        </label>
                      </div>
                    </div>
                    <div [hidden]="!(currentQuestion.id===answer.parent)" class="input-group mb-3 col-lg-12">
                      <input [hidden]="!showTextbox" type="text" class="form-control" placeholder="¿Cual?" [formControlName]="answer.controlName" [id]="answer.id">
                      <div class="input-group-append">
                        <button [hidden]="!showTextbox" class="btn btn-outline-secondary" type="button" (click)="radioButtonClick(answer.child)">Siguiente</button>
                      </div>
                    </div>
                  </div>

                  <!--<div class="col-lg-12">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                      <label class="custom-file-label" for="validatedCustomFile">Elige una imagen...</label>
                      <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>
                  </div>
                  <div class="my-4"></div>
                  <div class="col-lg-12">
                    <label for="description">Modificaciones al diseño</label>
                    <textarea 
                      class="form-control" 
                      id="description" 
                      rows="2"
                      required 
                      [(ngModel)]="mWorkDescription" 
                      name="workDescription"
                      #workDescription="ngModel"
                      [ngClass]="{'is-valid': workDescription.valid && workDescription.touched, 'is-invalid': workDescription.invalid && workDescription.touched}">
                    </textarea>
                    <small *ngIf="workDescription.untouched || workDescription.valid && workDescription.touched" class="form-text text-muted">Se conciso en la descripción, esto ayuda a nuestros expertos a estar preparados el día de la visita.</small>
                    <small *ngIf="workDescription.invalid && workDescription.touched" class="form-text text-muted-error">Debes describir el trabajo a realizar</small>
                </div>-->

                </div>

            </div>
            <!--<div class="form-row">
              <button type="submit" [disabled]="!form.valid">Save</button>
            </div>-->
          </form>
        
          <!--<div *ngIf="payLoad" class="form-row">
            <strong>Saved the following values</strong><br>{{payLoad}}
          </div>-->
        </div>
      <!--<div class="col-lg-12">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile">Elige una imagen...</label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
          </div>
        </div>
        <div class="my-4"></div>
        <div class="col-lg-12">
          <label for="description">Modificaciones al diseño</label>
          <textarea 
            class="form-control" 
            id="description" 
            rows="2"
            required 
            [(ngModel)]="mWorkDescription" 
            name="workDescription"
            #workDescription="ngModel"
            [ngClass]="{'is-valid': workDescription.valid && workDescription.touched, 'is-invalid': workDescription.invalid && workDescription.touched}">
          </textarea>
          <small *ngIf="workDescription.untouched || workDescription.valid && workDescription.touched" class="form-text text-muted">Se conciso en la descripción, esto ayuda a nuestros expertos a estar preparados el día de la visita.</small>
          <small *ngIf="workDescription.invalid && workDescription.touched" class="form-text text-muted-error">Debes describir el trabajo a realizar</small>
      </div>
        <div class="col-lg-12">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip04">Largo</label>
                  <input type="text" class="form-control" id="validationTooltip04" placeholder="Largo en cm" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip05">Ancho</label>
                  <input type="text" class="form-control" id="validationTooltip05" placeholder="Ancho en cm" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip03">Alto</label>
                  <input type="text" class="form-control" id="validationTooltip03" placeholder="Alto en cm" required>
                </div>
              </div>
        </div>
        <div class="col-lg-12">
            <label for="description">Descripción del trabajo</label>
            <textarea 
              class="form-control" 
              id="description" 
              rows="3"
              required 
              [(ngModel)]="mWorkDescription" 
              name="workDescription"
              #workDescription="ngModel"
              [ngClass]="{'is-valid': workDescription.valid && workDescription.touched, 'is-invalid': workDescription.invalid && workDescription.touched}">
            </textarea>
            <small *ngIf="workDescription.untouched || workDescription.valid && workDescription.touched" class="form-text text-muted">Se conciso en la descripción, esto ayuda a nuestros expertos a estar preparados el día de la visita.</small>
            <small *ngIf="workDescription.invalid && workDescription.touched" class="form-text text-muted-error">Debes describir el trabajo a realizar</small>
        </div>-->

      <div class="my-4"></div>
      <div class="text-center">
        <button 
          [disabled]="actualPage==1"
                (click)='back()' 
                class="btn btn btn-outline-secondary">
                Atrás
              </button>
              <button
                [hidden]="actualPage===totalPage"
                (click)='next()'
                class="btn btn-outline-secondary">
                Siguiente
              </button>
              <button 
                [hidden]="actualPage!==totalPage"
                type="submit"
                class="btn btn-outline-success">
                Enviar Solicitud
              </button>
            </div>
  </div>
  <div class="col-lg-2">
      <div class="mx-2"></div>
  </div>
</div>
</div>
