<div class="space"></div> 
<div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
        <h5>Negociaciones</h5>
        <button type="button" class="btn btn-outline-dark btn-block" [routerLink]="['../negociaciones/en_proceso']">Negociaciones En Proceso</button>
        <button type="button" class="btn btn-outline-dark btn-block" [routerLink]="['../negociaciones/concretadas']">Negociaciones Concretadas</button>
        <button type="button" class="btn btn-outline-dark btn-block" [routerLink]="['../negociaciones/finalizadas']">Negociaciones Finalizadas</button>
        <div class="my-4"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
        <h5>Visitas</h5>
        <button type="button" class="btn btn-outline-dark btn-block" [routerLink]="['../visitas/nuevas']">Visitas Nuevas</button>
        <button type="button" class="btn btn-outline-dark btn-block" [routerLink]="['../visitas/aceptadas']">Visitas Aceptadas</button>
        <button type="button" class="btn btn-outline-dark btn-block" [routerLink]="['../visitas/incumplidas']">Visitas Incumplidas</button>
      </div>
    </div>

    <div id="mybutton">
      <a class="feedback" routerLink="https://api.whatsapp.com/send?phone={{supportPhone}}" appExternalUrl>Escríbenos</a>
    </div>
  </div>

  