<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <strong>Nombre:</strong><p>{{item.name}}</p>
  <strong>Valor:</strong><p>$ {{item.value | number:0}}</p>
  <strong>Duración:</strong><p>{{item.durationValue}} {{item.durationTime}}</p>
  <strong>Garantía:</strong><p>{{item.warrantyValue}} {{item.warrantyTime}}</p>
  <strong>Detalles:</strong><p>{{item.workDescription}}</p>
  <strong>Condiciones de garantía:</strong><p>{{item.warrantyDescription}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">OK</button>
</div>
