<div class="space">
  <div class="container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>
    <div class="row">
      <div class="col-lg-3">
        <button class="button-style center">
          <span class="span-style">
            <div class="display-margin">
              <img src="../../assets/technology.svg" width="20" height="20">
            </div>
          <span>Cambiar Imagen</span>
          </span>
            <input type="file" class="css-1u2oed9 eehmg7h4" (change)="onFileChange($event)" #fileInput>
        </button>
        <div class="profile-image center" [style.background-image]="makeTrustedImage(image)"></div>
      </div>
      <div class="col-lg-9 centered">
          <div class="row">
            <div class="col-md-9 mb-3">
              <h4 class="mb-3">Mi información</h4>
            </div>
            <div class="col-md-3 mb-3">
              <button type="button" class="btn btn-outline-dark" (click)="editInformation();">Modificar Información</button>
            </div>
            <div class="col-md-6 mb-1">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="" value={{email}} required="false" disabled>
              </div>
              <div class="col-md-6">
              </div>
            <div class="col-md-6 mb-1">
              <label for="firstName">Nombre</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value={{userDto.accountName}} required="false" disabled>
            </div>
            <div class="col-md-6">
              <label for="lastName">Apellidos</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value={{userDto.accountLastname}} required="false" disabled>
            </div>
            <div class="col-md-6 mb-1">
              <label for="address">Dirección</label>
              <input type="text" class="form-control" id="address" placeholder="" value={{location.address}} required="false" disabled>
            </div>
            <div class="col-md-6">
              <label for="cellphone">Celular</label>
              <input type="text" class="form-control" id="cellPhone" placeholder="" value={{userDto.phone}} required="false" disabled>
            </div>
            <div class="col-md-6 mb-1">
                <label for="city">Ciudad</label>
                <select class="form-control" id="city" disabled>
                  <option>{{location.city.name}}</option>
                </select>
            </div>
            <div class="col-md-6">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>