<app-navbar [loggedIn]=loggedIn></app-navbar>
<div id="hello">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="intro-text col-lg-10">
                <h1>Pintores</h1>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</div>
<div id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>¿Buscas pintores de casas en Cali, Valle del Cauca? ¿Deseas pintar tu casa por dentro y por fuera?</h1>
                        <p class="text-justify">
                            <a [routerLink]="['']">OpusClick</a> te ofrece los mejores y más confiables pintores de casas en Cali, 
                            permitiéndote elegir, cotizar en línea y contratar al profesional en pintura residencial o pintura interior 
                            de casas en Cali, con la tranquilidad de que tu dinero estará protegido por <a [routerLink]="['']">OpusClick</a> 
                            y que las condiciones de trabajo quedarán establecidas bajo un contrato virtual ante cualquier incumplimiento. 
                            Conoce más acerca de <a [routerLink]="['']">OpusClick</a>.
                        </p>
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                        <button type="button" [routerLink]="['../../expertos']" [queryParams]="{profession: '8'}" class="btn btn-outline-dark">Encúentralos Aquí</button>
                                </div>
                            </div>
                        </div>
                    <h2>¿Qué hacer en caso de incumplimiento, inconformidad o garantía en un servicio de Pintura de Casas?</h2>
                        <p class="text-justify">
                            Nuestro contrato virtual es la figura que nos permite hacer cumplir las condiciones de negocio 
                            pactadas entre las partes. En <a [routerLink]="['']">OpusClick</a> no haces efectivo un pago 
                            hasta que no se cumplan las condiciones del contrato virtual. Adicionalmente, te ofrecemos hasta
                            3 meses de garantía por cualquier servicio de pintura residencial, pintura interior de casas y 
                            pintura exterior de casas, contratado a través de la plataforma. Por ende, lo que debes hacer ante 
                            un incumplimiento, inconformidad o garantía debes reportar dicha novedad a través de nuestra plataforma, 
                            la cual estudiamos y gestionamos con base en el contrato virtual. 
                            <a routerLink="https://s3.amazonaws.com/opusclick.com/Terminos+OpusClick.pdf" appExternalUrl>términos y condiciones</a>.
                        </p>
                </div>
                <div class="col-lg-12">
                    <h1>Pintura y obra blanca en Santiago de Cali para remodelación de casas y apartamentos, reforma y decoración de interiores</h1>
                    <p class="text-justify">
                        <a [routerLink]="['']">OpusClick</a> es la plataforma web que se encarga de reunir los expertos mejor calificados de pintura interior, 
                        remodelación, estuco, servicio de pintura en general y pintores en Cali, para casas, apartamentos, oficina, para toda clase de proyectos, 
                        decoración o diseño de interiores, reformas, reparaciones o mantenimiento del hogar. A sólo un click de distancia encuentras la mejor 
                        oferta de profesionales de pintura residencial, pintura de portones, pintura de fachadas y pintura de apartamentos en cali, distribuidos 
                        por zona, pintores de casas cali sur (Barrio Capri, Valle del Lili, Caney, La Hacienda, Ciudad Jardín etc.) y pintores de casas cali 
                        norte (Barrio La Flora, Vipasa, Santa Mónica Residencial, Granada) que te ayudarán en todas las reparaciones locativas o del hogar, donde 
                        podrás agendar una visita, consultar precios reales de pintores en Santiago de Cali y contratar sus servicios con la seguridad de que 
                        recibirás un servicio de alta calidad.
                    </p>

                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" [routerLink]="['../../expertos']" [queryParams]="{profession: '8'}" class="btn btn-outline-dark">Elige Tu Pintor</button>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                    <h1>Colores para pintar una casa ¿Cómo pintar una casa, habitación o pared según la decoración de tu hogar?</h1>
                    <p class="text-justify">
                        Si estás pensando en pintar tu casa, apartamento, oficina o inmueble, con <a [routerLink]="['']">OpusClick</a> 
                        tienes la seguridad de poder contratar los pintores en cali más calificados para tu remodelación, que te ayudarán 
                        a elegir los mejores colores para pintar tu casa, te brindarán asesoría personalizada para la pintura interior y 
                        exterior de tu casa y te acompañarán en todo el proceso de principio a fin según tus necesidades.
                    </p>
            </div>
        </div>
    </div>
</div>