<app-navbar [loggedIn]=loggedIn></app-navbar>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>
<div class="space"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5>Contrato No. {{contract.contractNumber}}</h5>
            </div>
        </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Valor</th>
                  <th scope="col">Duración</th>
                  <th scope="col">Garantía</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let milestone of contract.milestones'>
                  <td>{{milestone.item.name}} <button type="button" (click)="detailsItem(milestone.item)" class="btn btn-outline-dark btn-sm">Detalles</button></td>
                  <td>$ {{milestone.item.value | number:0}}</td>
                  <td>{{milestone.item.durationValue}} {{milestone.item.durationTime}}</td>
                  <td>{{milestone.item.warrantyValue}} {{milestone.item.warrantyTime}}</td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <ngb-accordion #acc="ngbAccordion">
                  <ngb-panel id="toggle-1" title="Aclaraciones y anotaciones">
                    <ng-template ngbPanelContent>
                        <div class="col-lg-12">
                            <textarea 
                              class="form-control" 
                              id="modifications" 
                              rows="4"
                              value={{contract.clarifications}}
                              disabled>
                            </textarea>
                        </div>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel id="toggle-2" title="Imágenes de referencia y modificaciones al diseño">
                      <ng-template ngbPanelContent>
                        <div *ngFor='let milestone of contract.milestones'>
                          <div *ngIf="milestone.item.imageContract!=null" class="row">
                            <div class="col-lg-2">
                                <img 
                                data-src="holder.js/200x200" 
                                class="rounded mx-auto d-block" 
                                alt="100x100" 
                                src="{{milestone.item.imageContract}}" 
                                data-holder-rendered="true" 
                                style="width: 150px; height: 150px; margin:5px;">
                            </div>
                            <div class="col-lg-10">
                                <label for="modifications">Modificaciones al diseño</label>
                                <textarea 
                                  class="form-control" 
                                  id="modifications" 
                                  rows="4"
                                  value="{{milestone.item.commentContract}}"
                                  disabled>
                                </textarea>
                            </div>
                        </div>  
                      </div>        
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
                <hr/>
          </div>
        </div>
      <div class="my-2"></div>
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <p><strong>Subtotal:</strong>   $ {{contract.subtotal | number:0}}</p>
            </div>
            <div class="col-lg-12">
                <p><strong>Costo administración:</strong>  $ {{contract.administrationFee | number:0}}</p>
            </div>
            <div class="col-lg-12">
                <p><strong>Valor total:</strong>  $ {{contract.totalValue | number:0}}</p>
            </div>
          </div>
      </div>
        <div class="text-center">
            <button 
                (click)='back()' 
                class="btn btn btn-outline-secondary">
                Atrás
              </button>
        </div>
    </div>