<div class="space"></div>
  <!--<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>-->
    <div class="container">
        <app-alert [dismissible]="true" [type]="notificationType" [message]="notificationMessage" [(staticAlertClosed)]="hideNotification"></app-alert>
      <label>Negociaciones en proceso</label>
      <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Etiqueta</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let work of pendingWorks'>
                <td>
                    <p>{{work.creationDate  | date: 'dd/MM/yyyy'}}</p>
                    <span *ngIf='work.state=="PENDING_BY_QUOTATION"' class="badge badge-primary">Solicitud de cotización</span>
                    <span *ngIf='work.state=="QUOTE_MADE"' class="badge badge-info">Cotización realizada</span>
                    <span *ngIf='work.state=="CONTRACT_MODIFIED_BY_USER"' class="badge badge-warning">Propuesta de contrato</span>
                    <span *ngIf='work.state=="CONTRACT_ACCEPTED_BY_PROVIDER"' class="badge badge-success">Contrato aceptado</span>
                    <span *ngIf='work.state=="CONTRACT_MODIFIED_BY_PROVIDER"' class="badge badge-info">Contrato modificado</span>
                    <span *ngIf='work.state=="PENDING_BY_PAYMENT"' class="badge badge-success">Pendiente por pago</span>
                </td>
                <td>
                  <app-inline-edit [value]='work.providerLabel' (newValue)="newLabelChange($event,work)"></app-inline-edit>
                </td>
                <td class="d-options">
                  <!--<div *ngIf='work.state=="PENDING_BY_VISIT"'
                  class="btn-group dropleft">
                  <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                  </button>
                  <div class="dropdown-menu">
                    <button class="dropdown-item" type="button" (click)="detailsWork(work)">Ver Detalles</button>
                    <button class="dropdown-item" 
                    type="button"
                    [routerLink]="['/cotizar']" 
                    [queryParams]="{work:work.id}">Realizar Cotización</button>
                    <button class="dropdown-item" type="button" (click)="terminateWork(work)">No Hubo Acuerdo</button>
                  </div>
                  </div>-->
                  <div *ngIf='work.state=="PENDING_BY_QUOTATION"'
                  class="btn-group dropleft">
                  <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                  </button>
                  <div class="dropdown-menu">
                    <button class="dropdown-item" type="button" (click)="detailsOnlineQuote(work.id)">Ver Solicitud</button>
                    <button class="dropdown-item" 
                    type="button" 
                    [routerLink]="['/cotizar']" 
                    [queryParams]="{work:work.id}">
                    Realizar Cotización
                  </button>
                    <button class="dropdown-item" type="button" (click)="terminateWork(work)">No Hubo Acuerdo</button>
                  </div>
                  </div>

                  <div *ngIf='work.state=="QUOTE_MADE"'
                  class="btn-group dropleft">
                  <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                  </button>
                  <div class="dropdown-menu">
                    <button class="dropdown-item" 
                    type="button" 
                    [routerLink]="['/ver_cotizacion']" 
                    [queryParams]="{work:work.id}">
                    Ver Cotización
                  </button>
                    <button class="dropdown-item" type="button" (click)="terminateWork(work)">Terminar</button>
                  </div>
                  </div>

                  <div *ngIf='work.state=="CONTRACT_MODIFIED_BY_USER"'
                  class="btn-group dropleft">
                  <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                  </button>
                  <div class="dropdown-menu">
                    <button class="dropdown-item" 
                    type="button" 
                    [routerLink]="['/concretar_contrato']" 
                    [queryParams]="{contract:work.contractId}">
                    Concretar Contrato
                  </button>
                    <button class="dropdown-item" type="button" (click)="terminateWork(work)">Terminar</button>
                  </div>
                  </div>

                  <div *ngIf='work.state=="CONTRACT_ACCEPTED_BY_PROVIDER" || work.state=="CONTRACT_MODIFIED_BY_PROVIDER"'
                      class="btn-group dropleft">
                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Opciones
                    </button>
                    <div class="dropdown-menu">
                      <button class="dropdown-item" 
                      type="button" 
                      [routerLink]="['/ver_contrato']" 
                      [queryParams]="{contract:work.contractId}">
                        Ver Contrato
                      </button>
                      <button class="dropdown-item" type="button" (click)="terminateWork(work)">Terminar</button>
                    </div>
                  </div>
                  <div *ngIf='work.state=="PENDING_BY_PAYMENT"'
                      class="btn-group dropleft">
                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Opciones
                    </button>
                    <div class="dropdown-menu">
                      <button class="dropdown-item" 
                      type="button" 
                      [routerLink]="['/ver_contrato']" 
                      [queryParams]="{contract:work.contractId}">
                        Ver Contrato
                      </button>
                      <button class="dropdown-item" type="button" (click)="terminateWork(work)">Terminar</button>
                    </div>
                  </div>
                </td>
              </tr>
              <div *ngIf="isEmptyWorks()">
                  <div class="my-1"></div>
                  <label>No hay negociaciones pendientes</label>
              </div>
            </tbody>
          </table>
      </div>
    </div>
