html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

.navbar {
  padding: .1rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(221, 219, 219);
}

.navbar-brand {
  display: inline-block;
  padding-top:0rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

@media (max-width: 575.98px) {  
  .bg-dark {
    background-color: #294664!important;
    height: 65px;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
  .bg-dark {
    background-color: #294664!important;
    height: 65px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  .bg-dark {
    background-color: #294664!important;
    height: 65px;
  }
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .bg-dark {
    background-color: #294664!important;
    height: 75px;
  }
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .bg-dark {
    background-color: #294664!important;
    height: 75px;
  }
 }

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 65px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color:#294664;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(226, 226, 226, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color:#294664;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #294664;
}

.btn-outline-exit {
	color:#fff; 
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    font-size: 14px;
    padding: 11px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-outline-exit:hover {
    color: #fff;
    background-color: #E02424;  
    border-color: #E02424;  
    font-size: 14px;
}

.btn-outline-exit.focus, .btn-outline-exit:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(224,36,36,.5);
    box-shadow: 0 0 0 0.2rem rgba(224,36,36,.5);
}

.text-white-50 { color: rgba(255, 255, 255, .6); }

.bg-purple { background-color: #6f42c1; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }