<div class="space"></div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>
    <div class="container">
        <app-alert [dismissible]="true" [type]="notificationType" [message]="notificationMessage" [(staticAlertClosed)]="hideNotification"></app-alert>
        <label>Visitas Aceptadas</label>
        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Pin</th>
                <th scope="col">Descripción</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let visit of acceptedVisits'>
                <td *ngIf="visit.alternativeDate-now.getTime() > 0">
                  <p>{{visit.code}}</p>
                  <span *ngIf='visit.state=="ACCEPTED_BY_USER" && visit.alternativeDate-now.getTime() > 0' 
                    class="badge badge-info">
                      Aceptada
                  </span>
                  <span *ngIf='visit.state=="ACCEPTED_BY_PROVIDER" && visit.alternativeDate-now.getTime() > 0' 
                    class="badge badge-success">
                      Aceptada por experto
                  </span>
                  <span *ngIf='visit.state=="POSTPONE_BY_USER" && visit.alternativeDate-now.getTime() > 0' 
                    class="badge badge-warning">
                      Postergada
                    </span>
                  <span *ngIf='(visit.alternativeDate - now.getTime()) < 0' 
                      class="badge badge-secondary">
                      Transcurrida
                  </span>
                </td>
                <td>{{visit.securityPin}}</td>
                <td>{{visit.description}}</td>
                <td class="d-options">

                  <button *ngIf='visit.alternativeDate-now.getTime() < 0'
                    type="button" 
                    class="btn btn-outline-dark" 
                    [routerLink]="['/cotizar']" 
                    [queryParams]="{work:visit.workId}">
                      Realizar Cotización
                  </button>
                  <div *ngIf='visit.alternativeDate-now.getTime() < 0' class="my-1"></div>
                  <div *ngIf='visit.alternativeDate-now.getTime() < 0' class="mx-1"></div>

                  <button *ngIf='visit.alternativeDate-now.getTime() < 0'
                    type="button" 
                    class="btn btn-outline-dark" 
                    (click)="reportBreach(visit)">
                      Reportar Incumplimiento
                  </button>
                  <div *ngIf='visit.alternativeDate-now.getTime() < 0' class="my-1"></div>
                  <div *ngIf='visit.alternativeDate-now.getTime() < 0' class="mx-1"></div>

                  <button type="button" *ngIf='visit.alternativeDate-now.getTime() > 0' 
                    class="btn btn-outline-dark" 
                    (click)="detailsVisit(visit)">
                      Ver Detalles
                  </button>
                  <div *ngIf='visit.alternativeDate-now.getTime() > 0' class="my-1"></div>
                  <div *ngIf='visit.alternativeDate-now.getTime() > 0' class="mx-1"></div>

                  <button type="button" 
                  *ngIf='(visit.state=="ACCEPTED_BY_PROVIDER" || visit.state=="ACCEPTED_BY_USER") && visit.alternativeDate-now.getTime() > 0'
                  class="btn btn-outline-warning"
                  [disabled]="720 > (visit.date - (now.getTime()))/60000" 
                  (click)="postponeVisit(visit)">Posponer</button>
                  <div *ngIf='(visit.state=="ACCEPTED_BY_PROVIDER" || visit.state=="ACCEPTED_BY_USER") && visit.alternativeDate-now.getTime() > 0' class="my-1"></div>
                  <div *ngIf='(visit.state=="ACCEPTED_BY_PROVIDER" || visit.state=="ACCEPTED_BY_USER") && visit.alternativeDate-now.getTime() > 0' class="mx-1"></div>

                  <button type="button" 
                  class="btn btn-outline-danger" (click)="cancelVisit(visit)">Cancelar</button>
                </td>
              </tr>
              <div *ngIf="isEmptyWorks()">
                  <div class="my-1"></div>
                  <label>No hay visitas aceptadas</label>
              </div>
            </tbody>
          </table>
      </div>
    </div>