<div class="space"></div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>
  <div id="work_history">
      <div class="container">
          <h5>Historial De Trabajos</h5>
          <div class="my-4"></div>
          <div class="row" *ngFor='let providerReview of providerReviews'>
              <div class="col-12 col-xs-12 col-sm-8">
                <h2>{{providerReview.contractName}}</h2>
              </div>
              <div class="col-12 col-xs-12 col-sm-4">
                  <div class="row">
                      <div class="col-7 col-xs-7 col-sm-7">
                          <img class="simbol" src="../../assets/user-silhouette.svg" height="16" width="16">
                          <small>{{providerReview.userName}} {{providerReview.userLastname}}</small>
                      </div>
                      <div class="col-5 col-xs-5 col-sm-5">
                          <small class="text-right">Fecha: {{providerReview.date | date: 'dd/MM/yyyy'}}</small>
                      </div>                      
                  </div>
              </div>
              <div class="col-12 col-xs-12 col-sm-8">
                  <label for="comment">Comentarios:</label>
                  <textarea 
                    class="form-control" 
                    id="comment" 
                    rows="2"
                    value="{{providerReview.reviewComment}}"
                    disabled>
                  </textarea>
              </div>
              <div class="col-12 col-xs-12 col-sm-4">
                  <div class="row">
                      <div class="col-12 col-xs-12 col-sm-12">
                        <p>Nivel de satisfacción del cliente</p>
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" [style.width]="providerReview.reviewSatisfactionLevel + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{providerReview.reviewSatisfactionLevel}}%</div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-xs-12 col-sm-12" *ngIf="providerReview.reviewImage==undefined || providerReview.reviewImage==null">
                <div class="my-2"></div>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" (change)="onFileChange($event, providerReview.reviewId)" #fileInput>
                    <label class="custom-file-label" for="inputGroupFile03">{{fileName}}</label>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xs-12 col-sm-12" *ngIf="providerReview.reviewImage!=undefined || providerReview.reviewImage!=null">
                  <ngx-gallery [options]="galleryOptions" [images]="getImageGallery(providerReview.contractName+''+providerReview.date)"></ngx-gallery>
              </div>
            <hr class="col-12 col-xs-12 col-sm-12">
          </div>
      </div>
  </div>
