<div class="container-fluid fixed-top w-100 p-0">
    <app-navbar></app-navbar>
    <div class="search-bar-container">
      <div class="row">
          <div class="input-group col-lg-12">
                <input type="text" 
                class="form-control" 
                placeholder="{{placeholder}}" 
                aria-label="¿Qué experto necesitas?" 
                aria-describedby="basic-addon2"
                autocomplete="off"
                [(ngModel)]="mSearch"
                name="search" 
                #search="ngModel"
                (click)='toggleDropDown()'
                clickOutside (clickOutside)="closeDropDown()">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="find()">Buscar</button>
                </div>
                <div *ngIf='showDropDown' class="container-dropdown">
                    <div>
                        <div (click)='selectValue(pro)' class='dropdown-content' *ngFor='let pro of professions | searchFilter:getSearchValue()'>
                            {{pro.name}}
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
  <div class="container result-container">
      <div class="row" *ngFor='let provider of providers'>
          <div class="col-lg-3 title">{{provider.accountName}} {{provider.accountLastname}}</div>
          <div class="col-lg-7"></div>
          <div class="col-lg-3">
            <img class="profile-image" src={{provider.photo}}>
          </div>
          <div class="col-lg-6">
              <div class="row">
                  <div class="col-lg-12">
                    <p>Nivel de satisfacción de clientes</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" [style.width]="provider.globalRatingGlobalSatisfactionLevel + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{provider.globalRatingGlobalSatisfactionLevel}}%</div>
                    </div>
                  </div>
              </div>
              <div class="my-4"></div>
              <div class="row">
                  <div style="text-align:center" class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <strong>{{provider.globalRatingGlobalRecommend}}%</strong>
                    <img class="simbol" src="../../assets/like.svg" height="30" width="30">
                    <div class="description">
                      <span>
                        De sus clientes lo recomiendan
                      </span>
                    </div>
                  </div>
                  <div style="text-align:center" class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <strong>{{provider.globalNoRecommend}}%</strong>
                    <img class="simbol" src="../../assets/dislike.svg" height="30" width="30">
                    <div class="description">
                      <span>
                        De sus clientes no lo recomiendan
                      </span>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 center-items">
            <div class="my-4"></div>
            <button class="btn btn-outline-provider" 
            type="button" 
            [routerLink]="['/soy_experto']">
            Cotización en línea
            </button>
            <div class="my-2"></div>
            <button class="centered btn btn-outline-user" 
            type="button" 
            [routerLink]="['/visitas']">
            Planear una visita
            </button>
          </div>
        <hr class="col-lg-12">
        </div>
  </div>