<app-navbar [loggedIn]=loggedIn></app-navbar>
<div id="hello">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="intro-text col-lg-10">
                <h1>Conectamos de principio a fin a expertos del hogar con personas como tú </h1>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="input-group mb-3 col-lg-10">
                <input type="text" 
                class="form-control" 
                placeholder="{{placeholder}}" 
                aria-label="¿Qué experto necesitas?" 
                aria-describedby="basic-addon2"
                autocomplete="off"
                [(ngModel)]="mSearch"
                name="search" 
                #search="ngModel"
                (click)='openDropDown()'
                (clickOutside)="closeDropDown()">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" [disabled]='mSearch.length < 4' (click)="find()">Buscar</button>
                </div>
                <div *ngIf='showDropDown' class="container-dropdown">
                    <div>
                        <div (click)='selectValue(pro)' class='dropdown-content' *ngFor='let pro of professions | searchFilter:getSearchValue()'>
                            {{pro.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <hr class="star-light">
        <div class="row">
            <div class="col-lg-12">
                <h4>Selecciona expertos por categorías</h4>
                <small>click aquí abajo</small>
                <a href="#categories" (click)="seeCategories()">
                    <img src="../../assets/down-arrow.svg" width="80" height="80">
                </a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showCategories" class="categories-grid container-fluid" id="categories">
<div class="container">
    <div class="space"></div>
    <ul class="row">
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: '1'}">
            <img src="../../assets/builder.svg" width="60" height="60">
            <span>Albañiles</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: '2'}">
                <img src="../../assets/metal-saw.svg" width="60" height="60">
                <span>Carpinteros</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: '3'}" class="not-active">
                <img src="../../assets/idea.svg" width="40" height="40">
                <span>Diseñador de espacios interiores</span>
                <span class="soon">Muy Pronto</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: '4'}">
                <img src="../../assets/flash.svg" width="60" height="60">
                <span>Eléctricos</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: '5'}" class="not-active">
                <img src="../../assets/air-conditioner.svg" width="60" height="60">
                <span>Expertos climatización</span>
                <span class="soon">Muy Pronto</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: '6'}" class="not-active">
                <img src="../../assets/gas-mask.svg" width="60" height="60">
                <span>Fumigadores</span>
                <span class="soon">Muy Pronto</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: '7'}" class="not-active">
                <img src="../../assets/cosmetics.svg" width="60" height="60">
                <span>Maquilladores</span>
                <span class="soon">Muy Pronto</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: '8'}">
                <img src="../../assets/paint-roller.svg" width="60" height="60">
                <span>Pintores</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: '9'}">
                <img src="../../assets/pipe.svg" width="60" height="60">
                <span>Plomeros</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: '10'}" class="not-active">
                <img src="../../assets/sprout.svg" width="60" height="60">
                <span>Jardineros</span>
                <span class="soon">Muy Pronto</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: '11'}">
                <img src="../../assets/welder.svg" width="60" height="60">
                <span>Cerrajeros</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: '12'}">
                <img src="../../assets/armchair.svg" width="60" height="60">
                <span>Tapiceros</span>
            </a>
        </li>
    </ul>
    <a class="centered" href="#hello" (click)="hideCategories()">
        <img src="../../assets/up-arrow.svg" width="70" height="70">
    </a>
</div>
</div>
<div id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 centered">
                <h2>¿Porqué usar OpusClick?</h2>
            </div>
            <hr>
            <div class="col-lg-4 centered">
                <h3>Respaldamos tus negociaciones</h3>
                <p>Cuando contratas por OpusClick obtienes hasta 3 meses de garantía por los servicios contratados a través de nuestra plataforma.
                    Gracias a nuestros contratos virtuales, se pueden especificar cada uno de los detalles de la negociación realizada, permitiendo así 
                    que OpusClick pueda hacer cumplir las condiciones de negocio pactadas. Además, no efectúas pagos hasta que estes conforme con el trabajo realizado.
                    En OpusClick nos preocupamos por el antes, el durante y después de las negociaciones. 
                </p>
            </div>
            <div class="col-lg-4 centered">
                <h3>Sabemos el significado del tiempo y el dinero</h3>
                <p>La sabiduría colectiva nos permite determinar de manera realista y acertada el comportamiento
                de los expertos que hacen parte de nuestra plataforma, ya que se construye a partir de las experiencias 
                de servicio compartida por todos. Así que, evita perder el tiempo buscando a ese experto que no encuentras 
                o malgastar tu dinero en trabajos que no son de tu agrado. Con una simple búsqueda podrás elegir entre los mejores, 
                basandote en la experiencia de los demás, a los expertos más idóneos para resolver tus necesidades de servicio oportunamente.</p>
            </div>
            <div class="col-lg-4 centered">
                <h3>La seguridad no tiene precio</h3>
                <p>No te arriesgues contratando los servicios de un completo desconocido. Cada uno de los expertos que hacen parte de
                OpusClick, son personas que previamente han sido rigurosamente estudiadas y evaluadas, desde aspectos tan fundamentales como 
                lo es que no tengan ninguna deuda con la justicia, hasta llegar a investigar el historial de sus trabajos realizados
                a otros clientes. Todo esto con la finalidad de poder brindarte la tranquilidad de contratar a un desconocido.</p>
            </div>
        </div>
    </div>
</div>
<div id="how">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 centered">
                    <h2>¿Cómo usar OpusClick?</h2>
                </div>
                <hr>
                <div class="col-lg-3 centered">
                    <img src="../../assets/laptop.svg" width="100" height="100">
                    <h3>Busca</h3>
                    <p>Utiliza nuestra barra de búsqueda o elige una de las categorías disponibles para que puedas encontrar a ese experto que realmente necesitas.</p>
                </div>
                <div class="col-lg-3 centered">
                    <img src="../../assets/choices.svg" width="100" height="100">
                    <h3>Elige</h3>
                    <p>Aprovecha el poder que te brinda la sabiduría colectiva para elegir al experto que deseas que realice un auténtico trabajo.</p>
                </div>
                <div class="col-lg-3 centered">
                    <img src="../../assets/clipboard.svg" width="100" height="100">
                    <h3>Cotiza</h3>
                    <p>Puedes pedir una cotización en línea o solicitar una visita para que conozcas hasta el último detalle del trabajo que piensas realizar.</p>
                </div>
                <div class="col-lg-3 centered">
                    <img src="../../assets/guarantee.svg" width="100" height="100">
                    <h3>Contrata</h3>
                    <p>Un contrato virtual especifíca las condiciones de la negociación con el objetivo de que siempre sepas porqué estas pagando. Realiza el
                        pago del contrato y al final, haz una calificación del servicio recibido para ayudar a construir la sabiduría colectiva.</p>
                </div>
            </div>
        </div>
    </div>
<div id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 centered">
                <h2>Servicios</h2>
            </div>
            <div class="my-2"></div>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="../../assets/carpenter-hands-indoors-374861.jpg" alt="Carpinteria Cali">
                    <div class="card-body">
                        <a [routerLink]="['carpintero']" class="card-title">Carpinteria</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../assets/adult-blur-brown-982657.jpg" alt="Tapiceria Cali">
                    <div class="card-body">
                        <a [routerLink]="['tapicero']" class="card-title">Tapiceria</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../assets/image-from-rawpixel-id-386916-jpeg.jpg" alt="Plomeria Cali">
                    <div class="card-body">
                        <a [routerLink]="['plomero']" class="card-title">Plomeria</a>
                    </div>
                </div>
            </div>
            <div class="my-2"></div>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="../../assets/daniel-wiadro-GAEvM4qvlBk-unsplash.jpg" alt="Cerrajeria Cali">
                    <div class="card-body">
                        <a [routerLink]="['cerrajero']" class="card-title">Cerrajeria</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../assets/daniel-chekalov-A8rbSO0s9YY-unsplash.jpg" alt="Pintura Cali">
                    <div class="card-body">
                        <a [routerLink]="['pintor']" class="card-title">Pintura</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../assets/image-from-rawpixel-id-102018-jpeg.jpg" alt="Electricidad Cali">
                    <div class="card-body">
                        <a [routerLink]="['electricista']" class="card-title">Electricidad</a>
                    </div>
                </div>
            </div>
            <div class="my-2"></div>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="../../assets/image-from-rawpixel-id-102152-jpeg.jpg" alt="Albañileria Cali">
                    <div class="card-body">
                        <a [routerLink]="['albañil']" class="card-title">Albañileria</a>
                    </div>
                </div>
                <div class="card">
                </div>
                <div class="card">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 centered">
                <h2>Síguenos</h2>
            </div>
            <div class="col-lg-2 centered">
            </div>
            <div class="col-lg-4 centered">
                <a href="https://www.facebook.com/OpusClick-206713359866206" target="_blank">
                    <img src="../../assets/facebook.svg" width="60" height="60">
                </a>
                <strong>Facebook</strong>
            </div>
            <div class="col-lg-4 centered">
                <a href="https://www.instagram.com/opusclick" target="_blank">
                    <img src="../../assets/instagram.svg" width="60" height="60">
                </a>
                <strong>Instagram</strong>
            </div>
            <div class="col-lg-2 centered">
            </div>
        </div>
    </div>
</div>

<div id="f">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 centered">
                <img src="../../assets/pata-web-fase-Descubrimiento-01.png" width="100%" height="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <h5>Información de Interés</h5>
                <a routerLink="https://s3.amazonaws.com/opusclick.com/Terminos+OpusClick.pdf" appExternalUrl>Términos y condiciones</a>
                <a routerLink="https://s3.amazonaws.com/opusclick.com/POLI%CC%81TICA+PRIVACIDAD+Y+TRATAMIENTO+DE+DATOS+OPUSCLICK.pdf" appExternalUrl>Política de privacidad</a>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <h5>Contacto</h5>
                <!--<p>Telefono: (321)-832-3769</p>-->
                <p>Email: pqropusclick@gmail.com</p>
            </div>
        </div>
    </div>
</div>