<app-navbar [loggedIn]=loggedIn></app-navbar>
<div id="hello">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="intro-text col-lg-10">
                <h1>Conectamos de principio a fin a expertos del hogar con personas como tú </h1>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="input-group mb-3 col-lg-10">
                <input type="text" 
                class="form-control" 
                placeholder="{{placeholder}}" 
                aria-label="¿Qué experto necesitas?" 
                aria-describedby="basic-addon2"
                autocomplete="off"
                [(ngModel)]="mSearch"
                name="search" 
                #search="ngModel"
                (click)='openDropDown()'
                (clickOutside)="closeDropDown()">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" [disabled]='mSearch.length < 4' (click)="find()">Buscar</button>
                </div>
                <div *ngIf='showDropDown' class="container-dropdown">
                    <div>
                        <div (click)='selectValue(pro)' class='dropdown-content' *ngFor='let pro of professions | searchFilter:getSearchValue()'>
                            {{pro.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <hr class="star-light">
        <div class="row">
            <div class="col-lg-12">
                <h4>Selecciona expertos por categorías</h4>
                <a href="#categories" (click)="seeCategories()">
                    <img src="../../assets/down-arrow.svg" width="80" height="80">
                </a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showCategories" class="categories-grid container-fluid" id="categories">
<div class="container">
    <div class="space"></div>
    <ul class="row">
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: 'Albañilería'}" class="not-active">
            <img src="../../assets/builder.svg" width="60" height="60">
            <span>Albañiles</span>
            <span class="soon">Muy Pronto</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: 'Carpintería'}">
                <img src="../../assets/metal-saw.svg" width="60" height="60">
                <span>Carpinteros</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: 'Diseño de espacios interiores'}" class="not-active">
                <img src="../../assets/idea.svg" width="40" height="40">
                <span>Diseñador de espacios interiores</span>
                <span class="soon">Muy Pronto</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: 'Eléctricos'}">
                <img src="../../assets/flash.svg" width="60" height="60">
                <span>Eléctricos</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: 'Expertos climatización'}" class="not-active">
                <img src="../../assets/air-conditioner.svg" width="60" height="60">
                <span>Expertos climatización</span>
                <span class="soon">Muy Pronto</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: 'Fumigadores'}" class="not-active">
                <img src="../../assets/gas-mask.svg" width="60" height="60">
                <span>Fumigadores</span>
                <span class="soon">Muy Pronto</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: 'Maquillaje'}" class="not-active">
                <img src="../../assets/cosmetics.svg" width="60" height="60">
                <span>Maquilladores</span>
                <span class="soon">Muy Pronto</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: 'Pintura'}">
                <img src="../../assets/paint-roller.svg" width="60" height="60">
                <span>Pintores</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: 'Plomería'}">
                <img src="../../assets/pipe.svg" width="60" height="60">
                <span>Plomeros</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: 'Jardinería'}" class="not-active">
                <img src="../../assets/sprout.svg" width="60" height="60">
                <span>Jardineros</span>
                <span class="soon">Muy Pronto</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: 'Soladadura'}">
                <img src="../../assets/welder.svg" width="60" height="60">
                <span>Soldadores</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['expertos']" [queryParams]="{profession: 'Tapicería'}">
                <img src="../../assets/armchair.svg" width="60" height="60">
                <span>Tapiceros</span>
            </a>
        </li>
    </ul>
    <a class="centered" href="#hello" (click)="hideCategories()">
        <img src="../../assets/up-arrow.svg" width="70" height="70">
    </a>
</div>
</div>
<div id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 centered">
                <h2>¿Porqué usar OpusClick?</h2>
            </div>
            <hr>
            <div class="col-lg-4 centered">
                <h3>Respaldamos las negociaciones</h3>
                <p>Cuando contratas por OpusClick tu tienes el control, porque no pagas hasta que estes
                conforme con el trabajo realizado. Gracias a nuestros contratos virtuales, se pueden especificar
                cada una de las características de la negociación realizadas a través de nuestra plataforma, permitiendo así 
                un ambiente donde siempre se cumplan las condiciones pactadas. Por lo anterior, En OpusClick nos 
                preocupamos por el antes, el durante y después de las negociaciones.</p>
            </div>
            <div class="col-lg-4 centered">
                <h3>Sabemos el significado del tiempo y el dinero</h3>
                <p>La sabiduría colectiva nos permite determinar de manera realista y acertada el comportamiento
                de los expertos, ya que esta se constuye a partir de la experiencia de todos. Por lo anterior, evita perder
                el tiempo buscando a esa persona que no encuentras o dinero pagando varias veces por un mismo trabajo. En 
                OpusClick con una simple búsqueda podrás elegir entre los mejores, basandote en la experiencia de los
                demás, las personas más idóneas para resolver tus necesidades oportunamente.</p>
            </div>
            <div class="col-lg-4 centered">
                <h3>La seguridad no tiene precio</h3>
                <p>No te arriesgues contratando a un completo desconocido. Cada uno de los expertos que hacen parte de
                OpusClick son personas que previamente han sido estudiadas y evaluadas, desde aspectos tan fundamentales como 
                lo es que no tengan ninguna deuda con la justicia, hasta llegar a revisar los historicos de sus trabajos realizados
                a otros clientes. Todo esto con la finalidad de brindarte la tranquilidad de contratar a un desconocido.</p>
            </div>
        </div>
    </div>
</div>
<div id="how">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 centered">
                    <h2>¿Cómo usar OpusClick?</h2>
                </div>
                <hr>
                <div class="col-lg-3 centered">
                    <img src="../../assets/laptop.svg" width="100" height="100">
                    <h3>Busca</h3>
                    <p>Utiliza nuestra barra de búsqueda o elige una de las categorías disponibles para que puedas encontrar a ese experto que realmente necesitas.</p>
                </div>
                <div class="col-lg-3 centered">
                    <img src="../../assets/choices.svg" width="100" height="100">
                    <h3>Elige</h3>
                    <p>Aprovecha el poder que te brinda la sabiduría colectiva para elegir al experto que deseas que realice un auténtico trabajo.</p>
                </div>
                <div class="col-lg-3 centered">
                    <img src="../../assets/clipboard.svg" width="100" height="100">
                    <h3>Cotiza</h3>
                    <p>Puedes pedir una cotización en línea o solicitar una visita para que conozcas hasta el último detalle del trabajo que piensas realizar.</p>
                </div>
                <div class="col-lg-3 centered">
                    <img src="../../assets/guarantee.svg" width="100" height="100">
                    <h3>Contrata</h3>
                    <p>Un contrato virtual especifíca las condiciones de la negociación con el objetivo de que siempre sepas porqué estas pagando.
                    Al final, realiza una calificación del servicio recibido para ayudar a construir la sabiduría colectiva.</p>
                </div>
            </div>
        </div>
    </div>

<div id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 centered">
                <h2>Síguenos</h2>
            </div>
            <div class="col-lg-2 centered">
            </div>
            <div class="col-lg-4 centered">
                <a href="https://www.facebook.com/OpusClick-206713359866206" target="_blank">
                    <img src="../../assets/facebook.svg" width="60" height="60">
                </a>
                <strong>Facebook</strong>
            </div>
            <div class="col-lg-4 centered">
                <a href="https://www.instagram.com/opusclick" target="_blank">
                    <img src="../../assets/instagram.svg" width="60" height="60">
                </a>
                <strong>Instagram</strong>
            </div>
            <div class="col-lg-2 centered">
            </div>
        </div>
    </div>
</div>

<div id="f">
    <div class="container">
        <div class="row"></div>
    </div>
</div>