<div class="space"></div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>
    <div class="container">
        <app-alert [dismissible]="true" [type]="notificationType" [message]="notificationMessage" [(staticAlertClosed)]="hideNotification"></app-alert>
        <label>Negociaciones Concretadas</label>
        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Etiqueta</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let work of pendingWorks'>
                <td>
                  <p>{{work.creationDate  | date: 'dd/MM/yyyy'}}</p>
                  <span *ngIf='work.state=="IN_PROGRESS"' class="badge badge-info">En progreso</span>
                  <span *ngIf='work.state=="PARTIALLY_FINISHED"' class="badge badge-info">Parcialmente finalizado</span>
                  <span *ngIf='work.state=="FINALIZED"' class="badge badge-secondary">Finalizado</span>
                  <span *ngIf='work.state=="PAID_OUT"' class="badge badge-success">Pagado</span>
                  <span *ngIf='work.state=="DENIED"' class="badge badge-danger">Pago no aprobado</span>
                  <span *ngIf='work.state=="UNFULFILLED"' class="badge badge-danger">Incumplido</span>
                </td>
                <td>
                  <app-inline-edit [value]='work.userLabel' (newValue)="newLabelChange($event,work)"></app-inline-edit>
                </td>
                <td class="d-options">
  
                    <button type="button"
                    class="btn btn-outline-info"
                    *ngIf='work.state=="IN_PROGRESS"' 
                    [routerLink]="['/ver_detalles_contrato']" 
                    [queryParams]="{contract:work.contractId}">Ver Contrato</button>
                    <div *ngIf='work.state=="IN_PROGRESS"' class="my-1"></div>
                    <div *ngIf='work.state=="IN_PROGRESS"' class="mx-1"></div>

                    <div *ngIf='work.state=="PARTIALLY_FINISHED"'
                    class="btn-group dropleft">
                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Opciones
                    </button>
                    <div class="dropdown-menu">
                      <button class="dropdown-item" 
                      type="button"
                      [routerLink]="['/autorizar_pagos']" 
                      [queryParams]="{contract:work.contractId}">Autorizar Pagos</button>
                      <button class="dropdown-item" type="button" 
                      [routerLink]="['/ver_detalles_contrato']" 
                      [queryParams]="{contract:work.contractId}">Ver Contrato</button>
                      <button class="dropdown-item" type="button" (click)="terminateWork(work)">Terminar Contrato</button>
                    </div>
                    </div> 
                    
                    <div *ngIf='work.state=="FINALIZED"'
                    class="btn-group dropleft">
                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Opciones
                    </button>
                    <div class="dropdown-menu">
                      <button class="dropdown-item" 
                      type="button"
                      [routerLink]="['/autorizar_pagos']" 
                      [queryParams]="{contract:work.contractId}">Autorizar Pagos</button>
                      <button class="dropdown-item" type="button" 
                      [routerLink]="['/ver_detalles_contrato']" 
                      [queryParams]="{contract:work.contractId}">Ver Contrato</button>
                      <button class="dropdown-item" type="button" (click)="terminateWork(work)">Terminar Contrato</button>
                    </div>
                    </div>

                    <button type="button" 
                    *ngIf='work.state!="PARTIALLY_FINISHED" && work.state!="FINALIZED"'
                    class="btn btn-outline-danger" (click)="terminateWork(work)">Terminar</button>
                    <div class="my-1"></div>
                    <div class="mx-1"></div>
                </td>
              </tr>
              <div *ngIf="isEmptyWorks()">
                  <div class="my-1"></div>
                  <label>No hay negociaciones concretadas</label>
              </div>
            </tbody>
          </table>
      </div>
    </div>
