<app-navbar></app-navbar>
<div class="hello">
<div class="container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>
  <div class="form">
    <div *ngIf="!sucess && !notFound && !error">
    <h2>Recuperar Contraseña</h2>
    <hr>
    <p>Introduce tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
    </div>
    <div *ngIf="sucess">
    <h2 [ngClass]="{ok : sucess}">¡Correo Enviado!</h2>
    <hr>    
    <p>Se ha enviado un correo con un enlace para reestablecer tu contraseña.</p>
    </div>
    <div *ngIf="notFound">
    <h2 [ngClass]="{warning : notFound}">¡Correo no registrado!</h2>
    <hr>    
    <p>El correo ingresado aún no se ha registrado.</p>
    </div>
    <div *ngIf="error">
        <h2 [ngClass]="{bad : error}">¡Algo anda mal!</h2>
        <hr>        
        <p>Intenta mas tarde ha ocurrido un error.</p>
    </div>
    <form (ngSubmit)="onSubmit()" #forgetPasswordForm="ngForm">
        <div>
            <input class="form-control form-control-lg"
            type="email" 
            placeholder="Email" 
            required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
            [(ngModel)]="mEmail" 
            name="email" 
            #email="ngModel">
            <div *ngIf="email.invalid && email.touched"
            class="alert alert-danger">
            Email no válido
            </div>
        </div> 
    <div class="space"></div>
    <button type="submit" 
    class="btn btn-lg btn-block"
    [ngClass]="{enable: forgetPasswordForm.form.valid, disable: !forgetPasswordForm.form.valid}" 
    [disabled]="!forgetPasswordForm.form.valid">
    Recuperar
  </button>
  <hr/>
    <a [routerLink]="['/entrar']">Volver</a>
    </form>
  </div>
</div>
</div>

