.alert{
  padding: 8px;
  text-align: left;
}
.form div input.ng-valid.ng-touched{
  border-left: 3px solid #61A135; /* green */
}
/*Solo se aplica esta regla si tengo un div dentro de un form, 
y dentro del div tengo tag input que se le aplican las clases ng-invalid y ng-touched*/
.form div input.ng-invalid.ng-touched {
  border-left: 3px solid #a94442; /* green */
}
.hello {
  padding-top: 110px; 
}    
p{
  text-align: justify;
}
.form {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  background: #FFFFFF;
  max-width: 380px;
  min-width: 320px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form div{
  margin: 0 0 18px;
}

.ok{
  color: #61A135;
}

.bad{
  color: #CD0000;
}

.warning{
  color: rgb(221, 202, 34);
}

.form button.enable{
  background: #61A135;
  border-color: #61A135;
  color:#FFFFFF;  
}

.form button.enable.focus, .form button.enable:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(97,161,53,.5);
  box-shadow: 0 0 0 0.2rem rgba(97,161,53,.5);
}

.form button.disable{
  background: rgb(204, 204, 204);  
}